.clock-container {
    text-align: center;
  }
  
.column {
  display: inline-block;
  vertical-align: top;
}
  
.colon {
  display: inline-block;
  padding: 0 10px 0 10px;
  vertical-align: top;
  line-height: 75px;
  font-size: 86px;
  transform: translateY(calc(50vh - 43px));
  transition: transform 300ms;
}
  
.colon:after {
  content: ':';
}
  
.num {
  font-size: 86px;
  line-height: 86px;
  opacity: 0.025;
  transition: opacity 500ms, text-shadow 100ms;
}
  
.num.visible {
  font-family: 'Orbitron';
  opacity: 1.0;
  color: #A3D9A5;
  text-shadow: 
    0 0 5px #A3D9A5, /* Subtle glow */
    0 0 10px #A3D9A5, /* Outer glow to create a halo effect */
    1px 1px 0px hsl(0, 0%, 10%); /* Soft shadow for depth */
  font-size: 100px; 
  transition: color 0.3s ease;
  /* Animation for a blinking effect */
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { color: #4CAF50; }
  50% { color: transparent; }
}
  
.num.close {
  opacity: 0.35;
}
  
.num.far,
.num.distant {
  opacity: 0.15;
}
  